@import url('paggination.css');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	max-width: 80%;
	margin: auto;
	overflow: hidden;
}
.character__box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}
.character {
	width: 300px;
	background-color: #f4f4f4;
	padding: 20px;
	margin: 20px 0;
	border-radius: 10px;

	img {
		width: 100%;
		border-radius: 10px;
	}
}
.search__box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
	background-color: royalblue;
	height: 50px;
}
.search__box--controls {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 20%;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(255, 255, 255);
	padding: 10px 20px;
}
.menu {
	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		list-style: none;
	}
	li {
		margin: 0 10px;
		a {
			text-decoration: none;
			color: black;
			font-size: 18px;
			font-weight: 600;
		}
	}
}
